<!-- CSS's y Fuentes -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/profile/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/profile/agency.min.css" rel="stylesheet">

<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Concert.me</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                    <i class="fas fa-bars"></i>
            </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#">Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#">Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/concert/new-concert">Registra un concierto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#">Artistas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#">Contacto</a>
            </li>
        </ul>
    </div>
    </div>
</nav>

 <br><br><br><br><br><br>   

<style type="text/css">h1 { text-align: center}</style>

<h1>{{concert.owner.username}} vió a {{header}}</h1>
<div class="container">
    <div class="card">
        <div class="card-header">
            {{concert.date}}
        </div>
            <div class="card-body">
            <h5 class="card-title">{{header}}</h5>
                <p class="card-text">{{concert.venueName}}</p>
            {{#if concert.venue.coordinates}}
            <div id="res_map" style="width: 100%; height: 300px"></div>
            {{/if}}
            <br><br>
                <p class="card-text"><strong>Review:</strong></p>
                <p class="card-text">{{concert.review}}</p>
            <br><br>
                <p class="card-text"><strong>Rating:</strong></p>
                <p class="card-text">{{concert.rate}}</p>
            <br><br>

<!-- Facebook button -->
            
<div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.2&appId=1041885965993693&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-share-button" data-href="https://concert-me.herokuapp.com" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fconcert-me.herokuapp.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartir</a></div>
  
<br><br><br>

            <p class="card-text"><strong>Setlist:</strong></p>
            {{#each concert.setlist}}
            <p class="card-text">{{this}}</p>
            {{/each}}
                <h2>Photos: </h2>
            {{#if concert.photos}}
            {{#each concert.photos}}
                <img src="{{this}}" alt="" style="width: 30%; height: 30%">
            {{/each}} 
            {{else}}
                <li>No hay informacion disponible</li>
            {{/if}}
        </div>
    </div>
</div>

 <!-- Scripts -->

<script src="/javascripts/profile/jquery.min.js"></script>
<script src="/javascripts/profile/bootstrap.bundle.min.js"></script>
<script src="/javascripts/profile/jquery.easing.min.js"></script>
<script src="/javascripts/profile/jqBootstrapValidation.js"></script>
<script src="/javascripts/profile/contact_me.js"></script>
<script src="/javascripts/profile/agency.min.js"></script>

<script>
    window.onload = function () {
        const map = new google.maps.Map(document.getElementById("res_map"), {
            zoom: 15,
            center: {
                lat: {{concert.venue.coordinates.[1]}},
                lng: {{concert.venue.coordinates.[0]}}
            }
        });
        var infowindow = new google.maps.InfoWindow({
          content: '{{concert.venueName}}'
        });
        let marker = new google.maps.Marker({
            position: {
                lat: {{concert.venue.coordinates.[1] }},
                lng: {{concert.venue.coordinates.[0]}}
            },
            map
        }); 
        infowindow.open(map, marker);  
    }
</script>

