

<div class="container">


    <div class="card">
        <div class="card-header">
            {{concert.date}}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{header}}</h5>
            {{!-- {{#each concert.bands}}
                <p class="card-text">{{this}}</p>
            {{/each}}  --}}

            <p class="card-text">{{concert.venueName}}</p>



            {{#if concert.venue.coordinates}}
                <div id="res_map" style="width: 100%; height: 300px"></div>
            {{/if}}
            <br><br>
            
            <p class="card-text">{{concert.review}}</p>
            <br><br>
            <p class="card-text">{{concert.rate}}</p>
            <br><br>
            {{#each concert.setlist}}
                <p class="card-text">{{this}}</p>
            {{/each}}

            <h2>Photos: </h2>
            {{#if concert.photos}}
                {{#each concert.photos}}
                    <img src="{{this}}" alt="" style="width: 30%; height: 30%">
                            
                {{/each}} 
            {{else}}
                <li>No hay informacion disponible</li>
            {{/if}}

        </div>
    </div>
    
</div>


<script>
    window.onload = function () {
        const map = new google.maps.Map(document.getElementById("res_map"), {
            zoom: 15,
            center: {
                lat: {{concert.venue.coordinates.[1]}},
                lng: {{concert.venue.coordinates.[0]}}
            }
        });
        var infowindow = new google.maps.InfoWindow({
          content: '{{concert.venueName}}'
        });
        let marker = new google.maps.Marker({
            position: {
                lat: {{concert.venue.coordinates.[1] }},
                lng: {{concert.venue.coordinates.[0]}}
            },
            map
        }); 
        infowindow.open(map, marker);  
    }

</script>